<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="col-lg-12">
      <h2 id="-19-">안녕하세요 소프트웨어학과 19학번 김동현입니다!</h2>
      <br>
<p><img src="https://velog.velcdn.com/images/dongchyeon/post/150d4bf6-e86e-4ba1-8066-2e65c85c2f06/image.png" width="100%"></p>
<blockquote>
<p>👋 안녕하세요 <strong>김동현</strong> 입니다.</p>
<ul>
<li>현재 단국대학교 소프트웨어학과 3학년 1학기에 재학 중 입니다.</li>
<li>취미는 탁구, 그리고 머슬업과 같은 맨몸 운동입니다.</li>
<li>운동하는 것도 좋아하지만, 개발하는 것에도 대단한 열정을 가지고 있습니다.</li>
</ul>
</blockquote>
<p><br></p>
<p>
  <tr>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/ef9079bc-a9b9-49af-8930-990c5c03d9d9/image.gif" width = "45%"/></td>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/c4fe61ed-eb4e-4206-9ee5-d7b5c4bd782c/image.gif" width = "45%"/></td>
</tr>
</p>
<p>평소 맨몸 운동을 좋아합니다. 운동도 그만큼 사랑하지만 틈틈이 개발 공부도 열심히 하고 있습니다!</p>
<br>
<h2 id="-">좋은 개발자가 되기 위해서 했던 노력들</h2>
<br>
<h3 id="-">🐙 깃허브</h3>
<hr>
<p><a href="https://github.com/DongChyeon">DongChyeon - Overview</a></p>
<h3 id="-">✍️ 블로그</h3>
<hr>
<p><a href="https://velog.io/@dongchyeon">dongchyeon (동현) - velog</a></p>
<h3 id="-">🎞️ 유튜브</h3>
<hr>
<p><a href="https://www.youtube.com/channel/UCbu0n2s--NdkKawoGCZ0_OQ">유튜브</a></p>
<blockquote>
<p>많은 분야 중에서 안드로이드 앱 개발 분야를 가장 깊게 공부하였습니다!!!</p>
</blockquote>
<br>
<h3 id="-">🛠️ 안드로이드 기술 스택</h3>
<table>
<thead>
<tr>
<th style="text-align:left">카테고리</th>
<th style="text-align:center">스택</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">Language</td>
<td style="text-align:center">Java, Kotlin</td>
</tr>
<tr>
<td style="text-align:left">Architecture</td>
<td style="text-align:center">MVC, MVVM</td>
</tr>
<tr>
<td style="text-align:left">DI</td>
<td style="text-align:center">Hilt</td>
</tr>
<tr>
<td style="text-align:left">Networking</td>
<td style="text-align:center">Retrofit, OkHttp, GSON</td>
</tr>
<tr>
<td style="text-align:left">Asynchronous</td>
<td style="text-align:center">Coroutine, Flow</td>
</tr>
<tr>
<td style="text-align:left">JetPack</td>
<td style="text-align:center">AAC, LiveData, ViewModel, Navigation, Repository, Databinding</td>
</tr>
<tr>
<td style="text-align:left">Local DB</td>
<td style="text-align:center">Room</td>
</tr>
<tr>
<td style="text-align:left">Image</td>
<td style="text-align:center">Glide</td>
</tr>
<tr>
<td style="text-align:left">Bluetooth</td>
<td style="text-align:center">BLE</td>
</tr>
</tbody>
</table>
<br>
<h3 id="-https-www-notion-so-f4bf53379a4240ca9726d8cbc6f91c62-"><a href="https://www.notion.so/f4bf53379a4240ca9726d8cbc6f91c62">팀 프로젝트 <- 링크 클릭</a></h3>
<h3 id="-https-www-notion-so-756a6d1ecc0a46c885fb17b5e9c5421e-"><a href="https://www.notion.so/756a6d1ecc0a46c885fb17b5e9c5421e">개인 프로젝트 <- 링크 클릭</a></h3>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->