<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="col-lg-12">
      <h2 id="-19-">안녕하세요 소프트웨어학과 19학번 김동현입니다!</h2>
      <br>
<p><img src="https://velog.velcdn.com/images/dongchyeon/post/150d4bf6-e86e-4ba1-8066-2e65c85c2f06/image.png" width="100%"></p>
<blockquote>
<p>👋 안녕하세요 <strong>김동현</strong> 입니다.</p>
<ul>
<li>현재 단국대학교 소프트웨어학과 3학년 1학기에 재학 중 입니다.</li>
<li>취미는 탁구, 그리고 머슬업과 같은 맨몸 운동입니다.</li>
<li>운동하는 것도 좋아하지만, 개발하는 것에도 대단한 열정을 가지고 있습니다.</li>
</ul>
</blockquote>
<p>  
  <br>
    <h3>개발에 관심을 가지게 된 재미있는 일화가 있습니다!</h3>
    <hr>
    대학교 입학 당시 제 학과는 지금의 학과와는 전혀 다른 학과였습니다. 제 이전 학과는 국어국문학과입니다. 제가 본격적으로 전과를 결심하게 된 계기는 다음과 같습니다.
    <br>때는 2019년 12월, 친한 동기가 저에게 C언어 스터디를 권유했습니다. 종강도 하고 새로운 무언갈 하고 싶어서 스터디에 들어갔습니다. 스터디원들은 대부분 응용통계학과, 소프트웨어학과였습니다. 배경지식에서 어느정도 차이가 나긴 했지만 1학년이라 그런지 그 갭은 쉽게 메꿔졌습니다. 첫 한달 반 동안은 C언어의 기본 문법을 독학하고 스터디장이 내주는 과제를 했습니다. 연결 리스트 구현, 오목 게임 구현 등이 있었습니다.
    <br>지금 생각해보면 비교적 입문자에게 어려운 과제였지만, 눈에 띄는 결과물을 만들 수 있어 더 열심히 했던 거 같습니다. 그 결과, 스터디에서 가장 높은 점수로 스터디를 끝마치게 되었습니다. 한 번 공부해보니 계속 공부해지고 싶어졌고 그렇게 전과를 결심했습니다.
  <br><br>
</p>
<h2 id="-">좋은 개발자가 되기 위해서 했던 노력들</h2>
<hr>
제가 개발을 공부하면서 쌓아온 것들입니다. 직접 간단한 코딩 강의를 유튜브에 올려보기도 했고, 블로그에 공부한 내용을 정리하기도 하였습니다.
<br>최근에는 많은 프로젝트를 진행했습니다. 작년 12월에 CMC라는 IT 연합 동아리에 들어가 디자인, 기획, 서버 파트와 협업해 안드로이드 앱을 출시하기도 했습니다. 플레이스토어에 "Field Mate"라고 치면 해당 앱이 나옵니다.
<br>자세한 내용은 밑에 있는 링크를 클릭하면 확인할 수 있습니다!</br>
<br>
<h3 id="-">🐙 깃허브</h3>
<hr>
<p><a href="https://github.com/DongChyeon">DongChyeon - Overview</a></p>
<h3 id="-">✍️ 블로그</h3>
<hr>
<p><a href="https://velog.io/@dongchyeon">dongchyeon (동현) - velog</a></p>
<h3 id="-">🎞️ 유튜브</h3>
<hr>
<p><a href="https://www.youtube.com/channel/UCbu0n2s--NdkKawoGCZ0_OQ">유튜브</a></p>
<blockquote>
<p>많은 분야 중에서 안드로이드 앱 개발 분야를 가장 깊게 공부하였습니다!!!</p>
</blockquote>
<br>
<h3 id="-">🛠️ 안드로이드 기술 스택</h3>
<hr>
<table>
  <thead>
  <tr>
  <th style="text-align: left">카테고리</th>
  <th style="text-align: center">스택</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td style="text-align: left">Language</td>
  <td style="text-align: center">Java, Kotlin</td>
  </tr>
  <tr>
  <td style="text-align: left">Architecture</td>
  <td style="text-align: center">MVC, MVVM</td>
  </tr>
  <tr>
  <td style="text-align: left">DI</td>
  <td style="text-align: center">Hilt</td>
  </tr>
  <tr>
  <td style="text-align: left">Networking</td>
  <td style="text-align: center">Retrofit, OkHttp, GSON</td>
  </tr>
  <tr>
  <td style="text-align: left">Asynchronous</td>
  <td style="text-align: center">Coroutine, Flow</td>
  </tr>
  <tr>
  <td style="text-align: left">JetPack</td>
  <td style="text-align: center">AAC, LiveData, ViewModel, Navigation, Repository, Databinding</td>
  </tr>
  <tr>
  <td style="text-align: left">Local DB</td>
  <td style="text-align: center">Room</td>
  </tr>
  <tr>
  <td style="text-align: left">Image</td>
  <td style="text-align: center">Glide</td>
  </tr>
  <tr>
  <td style="text-align: left">Bluetooth</td>
  <td style="text-align: center">BLE</td>
  </tr>
  </tbody>
  </table>
<br>
<h3 id="-https-www-notion-so-f4bf53379a4240ca9726d8cbc6f91c62-"><a href="https://www.notion.so/f4bf53379a4240ca9726d8cbc6f91c62">팀 프로젝트 <- 링크 클릭</a></h3>
<h3 id="-https-www-notion-so-756a6d1ecc0a46c885fb17b5e9c5421e-"><a href="https://www.notion.so/756a6d1ecc0a46c885fb17b5e9c5421e">개인 프로젝트 <- 링크 클릭</a></h3>
<br>
<h3>맨몸 운동</h3>
<hr>
<p>
  <tr>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/ef9079bc-a9b9-49af-8930-990c5c03d9d9/image.gif" width = "45%"/></td>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/c4fe61ed-eb4e-4206-9ee5-d7b5c4bd782c/image.gif" width = "45%"/></td>
</tr>
</p>
<p>개발 뿐만 아니라 운동도 굉장히 좋아합니다. 고등학교 때 간단한 푸쉬업, 턱걸이 정도만 했었지만, 군대를 가면서 맨몸 운동에 푹 빠지게 되었습니다. 위에 있는 움짤과 같이 머슬업, 플란체같은 고난도 기술을 연습하고 성취해나가며 재미를 느끼고 있습니다! 개발 뿐만 아니라 운동도 열심히 하고 있습니다!</p>
<br>
  <h3>후기</h3>
  <hr>
  <p>
    홈페이지 개발에 있어 교수님이 Wix라는 툴을 소개시켜주었는데, 평소 깃허브 블로그의 존재를 알고 있었고 이번 기회에 한 번 사용해보고자 했습니다.
    맘에 드는 템플릿이 있어 처음에는 해당 템플릿을 이용해 사이트를 배포하였는데, 후에 과제의 요구사항을 보니 홈페이지 형식이라는 내용이 있었습니다.
    아무리 생각해도 홈페이지 형식에 맞는 템플릿이라는 생각은 들지 않았고, 다른 템플릿을 적용하고 직접 불필요한 부분을 떼어내고 사용하고, 변경할 부분은 변경하였스니다.
    하지만, 기존에 올려놓았던 글들이 전부 단원을 정리하는 형식으로 되어 있고 양도 매우 많았습니다. 따라서 전체를 합치기는 무리라고 생각해, 보기 쉽도록 밑 부분에 그리드 레이아웃 형식으로 배치하였습니다.
    <br>
    수업을 통해 컴퓨터 네트워크에 대한 전반적인 지식을 얻을 수 있어서 좋았습니다. 예를 들어 ipconfig을 쳤을 때 나오는 MAC 주소가 무엇을 의미하는지, 그리고 TCP 연결을 할 때의 3-hand shaking이 일어나는 과정 등이 있습니다.
    하지만, 수업 중 아쉬웠던 점은 중간고사 이후의 진도가 비교적 빨랐던 것입니다. 여유롭게 나갔던 중간고사 이전과는 달리 이후 진도부터는 빨리 나가는 느낌이 있었습니다. 직접 내용을 정리하고 따로 모르는 부분을 알아보지 않았다면 수업 진도를 따라가기 힘들었을 것 같습니다.
  </p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->