<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="col-lg-12">
      <h2 id="-19-">안녕하세요 소프트웨어학과 19학번 김동현입니다!</h2>
      <br>
  <div class="content-section" style="display: flex; align-items: center;">
    <div class="image-section" style="flex: 1;">
      <img src="https://file.notion.so/f/f/41d920e0-cd9d-49c5-a97c-765171fcc927/48cd4a23-f0e1-4df0-8a47-7a027d1d5811/KakaoTalk_20240228_000218984-ezgif.com-video-to-gif-converter.gif?table=block&id=5e792aab-7470-4f7f-b097-a08797a39ef5&spaceId=41d920e0-cd9d-49c5-a97c-765171fcc927&expirationTimestamp=1731384000000&signature=S8ipikVxA1K9XLZl3u-DVZkPBl3gPorlq9YwcIyTDlA&downloadName=KakaoTalk_20240228_000218984-ezgif.com-video-to-gif-converter.gif" width="100%" alt="김동현 이미지">
    </div>
    <div class="text-section" style="flex: 1; padding-left: 20px;">
      <blockquote>
        <p>
          <h3>👋 안녕하세요 <strong>김동현</strong> 입니다.</h3>
          현재 단국대학교 소프트웨어학과 3학년 2학기에 재학 중입니다.<br>
          앱 프론트엔드 개발에 관심이 많아 네이티브 안드로이드 앱 개발과 크로스플랫폼 앱 개발을 공부하고 있습니다.<br>
          특히 B2C 프로덕트에 많은 흥미를 가지고 있으며, 다양한 외주 프로젝트와 사이드 프로젝트, IT 연합 동아리 활동에 적극 참여하고 있습니다.<br>
          저는 "안 하는 것이 못하는 것보다 나쁘다!"라는 신념을 가지고 새로운 도전을 즐기며, 이를 통해 성장하고자 합니다.<br>
          개발 외에도 다양한 운동에 도전하는 것을 좋아해 탁구 대회, 철봉 대회, 마라톤 등 다양한 스포츠 행사에 참여하고 있습니다.<br>
        </p>
      </blockquote>
    </div>
  </div>
<p>  
  <br>
    <h2>소프트웨어학과에 오게 된 재미있는 일화가 있습니다!</h2>
    <hr>
    대학교 입학 당시 제 학과는 지금의 학과와는 전혀 다른 학과였습니다. 제 이전 학과는 국어국문학과입니다. 제가 본격적으로 전과를 결심하게 된 계기는 다음과 같습니다.
    <br>때는 2019년 12월, 친한 동기가 저에게 C언어 스터디를 권유했습니다. 종강도 하고 새로운 무언갈 하고 싶어서 스터디에 들어갔습니다. 스터디원들은 대부분 응용통계학과, 소프트웨어학과였습니다. 배경지식에서 어느정도 차이가 나긴 했지만 1학년이라 그런지 그 갭은 쉽게 메꿔졌습니다. 첫 한달 반 동안은 C언어의 기본 문법을 독학하고 스터디장이 내주는 과제를 했습니다. 연결 리스트 구현, 오목 게임 구현 등이 있었습니다.
    <br>지금 생각해보면 비교적 입문자에게 어려운 과제였지만, 눈에 띄는 결과물을 만들 수 있어 더 열심히 했던 거 같습니다. 그 결과, 스터디에서 가장 높은 점수로 스터디를 끝마치게 되었습니다. 한 번 공부해보니 계속 공부해지고 싶어졌고 그렇게 전과를 결심했습니다.
  <br><br>
</p>
<h2 id="-">좋은 개발자가 되기 위해서 했던 노력들</h2>
<hr>
제가 개발을 공부하면서 쌓아온 것들입니다. 직접 간단한 코딩 강의를 유튜브에 올려보기도 했고, 블로그에 공부한 내용을 정리하기도 하였습니다.
<br>최근에는 사용자가 앱 B2C 앱 개발에 많은 관심을 가지고 진행하고 있습니다! 이를 위해 주로 앱 프론트엔드를 열심히 공부하고 있습니다.
<br><br>아직까지 많은 사용자를 보유한 프로젝트는 없지만, 대학 와인 연합 동아리에서 사용하고 있는 앱을 개발하였고, 그밖에도 외주 용역으로 1년간 스타트업에서 1인 안드로이드 개발을 하는 등 착실히 실력을 쌓아나가고 있습니다!
<br>제가 했던 다양한 프로젝트들은 <a href="https://general-cacao-154.notion.site/DongHyeon-Kim-001eaa1e867d4a8aab561fcddf628132?pvs=4">여기</a>에서 확인할 수 있습니다!
<br><br>
<h3 id="-">🐙 깃허브</h3>
<hr>
<p><a href="https://github.com/DongChyeon">DongChyeon - Overview</a></p>
<h3 id="-">✍️ 블로그</h3>
<hr>
<p><a href="https://velog.io/@dongchyeon">dongchyeon (동현) - velog</a></p>
<h3 id="-">🎞️ 유튜브</h3>
<hr>
<p><a href="https://www.youtube.com/channel/UCbu0n2s--NdkKawoGCZ0_OQ">유튜브</a></p>
<blockquote>
<p>많은 분야 중에서 안드로이드 앱 개발 분야를 가장 깊게 공부하였습니다!!!</p>
</blockquote>
<br>
<h3 id="-">🛠️ 안드로이드 기술 스택</h3>
<hr>
<table>
  <thead>
  <tr>
  <th style="text-align: left">카테고리</th>
  <th style="text-align: center">스택</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td style="text-align: left">Language</td>
  <td style="text-align: center">Java, Kotlin</td>
  </tr>
  <tr>
  <td style="text-align: left">Architecture</td>
  <td style="text-align: center">MVC, MVVM</td>
  </tr>
  <tr>
  <td style="text-align: left">DI</td>
  <td style="text-align: center">Hilt</td>
  </tr>
  <tr>
  <td style="text-align: left">Networking</td>
  <td style="text-align: center">Retrofit, OkHttp, GSON</td>
  </tr>
  <tr>
  <td style="text-align: left">Asynchronous</td>
  <td style="text-align: center">Coroutine, Flow</td>
  </tr>
  <tr>
  <td style="text-align: left">JetPack</td>
  <td style="text-align: center">AAC, LiveData, ViewModel, Navigation, Repository, Databinding</td>
  </tr>
  <tr>
  <td style="text-align: left">Local DB</td>
  <td style="text-align: center">Room</td>
  </tr>
  <tr>
  <td style="text-align: left">Image</td>
  <td style="text-align: center">Glide</td>
  </tr>
  <tr>
  <td style="text-align: left">Bluetooth</td>
  <td style="text-align: center">BLE</td>
  </tr>
  </tbody>
  </table>
<br>
<br>
<h3>운동</h3>
<hr>
<p>
  <tr>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/4e292260-1a5d-40df-9640-8200b6fa0902/image.gif" width = "30%"/></td>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/3a4cf36d-2e93-4499-a30a-944977e56f7c/image.png" width = "30%"/></td>
<td><img src="https://velog.velcdn.com/images/dongchyeon/post/647e9ea1-0183-418c-a5b2-c02555e88eaa/image.gif" width = "30%"/></td>
</tr>
</p>
<p>개발 뿐만 아니라 운동도 굉장히 좋아합니다! 보이는 것과 같이 주로 철봉, 러닝, 탁구를 즐기고 있습니다. 최근에도 광화문에서 열리는 K-맨몸운동대회나 자유민주 마라톤에도 참여한 적이 있습니다.</p>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->